body {
    background: url("matrix.gif") no-repeat center center fixed;
    background-size: cover;
}

/* Soviet MSPaint control “keyboard” */
#control-panel {
    position: absolute;
    left: 50px;
    top: 600px;
    width: 260px;
    background: #5f6b59;
    border: 3px solid #222;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7);
    padding: 15px;
    font-family: monospace;
    color: #e1e1e1;
    z-index: 10;
}

/* Move these around by changing left/top */
#energy-chart-container {
    position: absolute;
    left: 40px; /* <- change these to move it */
    top: 40px; /* <- change these to move it */
    width: 700px;
    height: 400px;
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 8px;
}

#status-chart-container {
    position: absolute;
    right: 50px; /* position of second chart */
    top: 40px;
    width: 700px;
    height: 400px;
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 8px;
}

#energy-chart,
#status-chart {
    width: 100%;
    height: 100%;
}
